@font-face {
    font-family: 'MyFont';
    src: url(../font/Syabab FREE TESTER.ttf);
}

body{
    margin:0 auto;
    padding:0;
    text-align:center;
    font-size: 32px;
    font-family: MyFont;
}
header{
    background-color: #fff;
    text-align: center;
}
main{
}
footer{
    background-color: #fff;
    text-align: center;
}

/*タイトル*/
h1{
    padding-top: 30px;
    font-size: 100px;
    font-weight: 700;
}

.text-last{
    font-size: 24px;
    padding-bottom: 20px;
}
.text-span{
    font-weight: bold;
}
.blue
{
    color: #4285f4;
    font-size: 100px;
}
.red
{
    color: #ea4335;
    font-size: 100px;
}
.yellow
{
    color: #fbc605;
    font-size: 100px;
}
.green
{
    color: #34a853;
    font-size: 100px;
}

.search-pos
{
    padding-top: 30px;
}
.search-box
{
    width: 428px;
    height: 120px;
    font-size: 15px;
}
.main-pos
{
    padding-top: 30px;
    text-align: center;
}
.main
{
    display: inline-block;
    text-align: left;
}
ul
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/*buttonSearch*/
.buttonSearch {
    margin: 0 auto;
    border: none;
    box-sizing:border-box;
    display: inline-block;
    font-size: 13px;
    position: relative;
    cursor: pointer;
    height: 36px;
    background-color: #f4f4f4;
    color: #AAA7A6;
    overflow:hidden;
    width:90px;
}
.buttonSearch:hover
{
    color: #000000;
    border:solid 1px;
    border-color:#c6c6c6;
}
.left
{
    padding-right: 40px;
}
.c-box
{
    display: inline-block;
    text-align: left;
}
/*buttonSearch(右)*/
.buttonSearch-right {
    border:none;
    background-color: #f4f4f4;
    color: #AAA7A6;
    overflow:hidden;
    width:138px;
    margin: 0 auto;
    box-sizing:border-box;
    display: inline-block;
    font-size: 13px;
    position: relative;
    cursor: pointer;
    height: 36px;
}
.buttonSearch-right:hover
{
    color: #000000;
    border:solid 1px;
    border-color:#c6c6c6;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
table
{
    font-size: 15px;
}
button
{
    font-size: 15px;
}
h3{
    padding-top: 30px;
    padding-bottom: 30px;
}
.back {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border:none;
    padding:2pt;
    background-color: #ffffff;
    filter:alpha(opacity=85);
    opacity:0.85;
    text-shadow: 0 -1px 1px #FFF, -1px 0 1px #FFF, 1px 0 1px #aaa;
}

.drag{
    width:42px;
    height:41px;
    position:absolute;
    align-items:center;
    cursor:pointer;
    font-weight: 700;
    color: #ffffff;
    top:400px;
}

#drag1{
    left:120px;
    background:#4285f4;
}
#drag2{
    left:300px;
    background:#34a853;
}
#drag3{
    left:480px;
    background:#fbc605;
}
#drag4{
    left:120px;
    background:#4285f4;
}
#drag1_label{
    left:170px;
    background:#ffffff;
    width:42px;
    height:41px;
    position:absolute;
    align-items:center;
    cursor:pointer;
    font-weight: 700;
    top:400px;
    
}
#drag2_label{
    left:350px;
    background:#ffffff;
    width:42px;
    height:41px;
    position:absolute;
    align-items:center;
    cursor:pointer;
    font-weight: 700;
    top:400px;
}
#drag3_label{
    left:530px;
    background:#ffffff;
    width:42px;
    height:41px;
    position:absolute;
    align-items:center;
    cursor:pointer;
    font-weight: 700;
    top:400px;
}
.drop{
/*    background:#CCCCCC;*/
    background:#ffffff;
    width:42px;
    height:41px;
    position:absolute;
/*    top:300px;*/
}

/*
#drop0{
    left:calc((0*52px));
}
#drop1{
    left:calc((1*52px));
}
#drop2{
    left:calc((2*52px));
}
#drop3{
    left:calc((3*52px));
}
#drop4{
    left:calc((4*52px));
}
#drop5{
    left:calc((5*52px));
}
#drop6{
    left:calc((6*52px));
}
#drop7{
    left:calc((7*52px));
}
#drop8{
    left:calc((8*52px));
}
#drop9{
    left:calc((9*52px));
}
#drop10{
    left:calc((10*52px));
}
#drop11{
    left:calc((11*52px));
}
#drop12{
    left:calc((12*52px));
}
#drop13{
    left:calc((13*52px));
}
#drop14{
    left:calc((14*52px));
}
#drop15{
    left:calc((15*52px));
}
#drop16{
    left:calc((16*52px));
}
#drop17{
    left:calc((17*52px));
}
#drop18{
    left:calc((18*52px));
}
#drop19{
    left:calc((19*52px));
}
#drop20{
    left:calc((20*52px));
}
#drop21{
    left:calc((21*52px));
}
#drop22{
    left:calc((22*52px));
}
#drop23{
    left:calc((23*52px));
}
*/
#nowCanvas{
    position: absolute;
    z-index: 1;
}
.tdDrop{
    width:50px;
    height:50px;
    margin: 0 auto;
}
table
{
    widows: 1200px;
}
th{
    font-size: 8px;
}
